.cont {
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.title {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to {width: 8rem }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  black; }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h4, .submit-btn {
    font-family: "Jersey 10";
    text-align: center;
    color: #306230;
}

h1 {
    margin-bottom: .5rem;
}

h4 {
    margin-top: 0;
}

.submit-btn {
    margin-top: 20px;
    border: none;
    background-color: #dcdbc2;
    border-radius: 3px;
    font-size: 2.25rem;
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #9a9988;
}